<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:fragment="voteUp-reply" th:if="${session.USER_LOGIN_NAME}" method="post"
      th:action="@{'/thread/{id}/{replyId}/{isUpVote}' (isUpVote=true, id=${threadDetail.id},replyId=${reply.id})}">
    <button class="clear-decoration">
        <a>
            <em th:if="${votesReply.get(reply.id) == true}" style="color: #64A644;"
                class='fas fa-sort-up up-vote'></em>
            <em th:unless="${votesReply.get(reply.id) == true}"
                class='fas fa-sort-up up-vote'></em>
        </a>
    </button>
</form>

<p th:fragment="score-reply" class="count-vote"><em class="fas fa-vote-yea" style="margin-right: 0;"></em> <span
        class="count-vote" th:text="${reply.voteScore}"></span></p>

<form th:fragment="voteDown-reply" th:if="${session.USER_LOGIN_NAME}" method="post"
      th:action="@{'/thread/{id}/{replyId}/{isUpVote}' (isUpVote=false, id=${threadDetail.id},replyId=${reply.id})}">
    <button class="clear-decoration" style="margin-top: -28px;">
        <a>
            <em th:if="${votesReply.get(reply.id) == false}" style="color: red;"
                class='fas fa-sort-down down-vote'></em>
            <em th:unless="${votesReply.get(reply.id) == false}"
                class='fas fa-sort-down down-vote'></em>
        </a>
    </button>
</form>

<button th:fragment="button-reply" th:if="${session.USER_LOGIN_NAME}" th:onclick="|hide('r_form_'+${reply.id})|"
        class="clear-decoration button-area">
    <a class="button-reply">balas</a>
</button>
</body>
</html>
<style>
</style>
