.container-register {
    background-color: #FF5045;
    margin: 50px auto 0 auto;
    padding: 15px;
    border-radius: 20px;
    width: 30vw;
    display: flex;
}

.container-register-background {
    background-color: #FFFFFF;
    border-radius: 20px;
    width: 30vw;
}

.container-register-background-title {
    text-align: center;
}

.container-register-background-form {
    width: 25vw;
    margin: 0 auto 0 auto;
}

.container-register-background-form-bottom {
    justify-content: space-between;
    display: flex;
}

.container-register-background-form-bottom-button {
    margin-bottom: 20px;
}