.container-search {
    width: 80vw;
    background-color: #FF5045;
    margin-top: 50px;
    padding: 15px;
    border-radius: 20px
}

.container-search-title {
    justify-content: space-between;
    display: flex;
    margin-bottom: 15px;
}

.container-search-description {
    opacity: 70%;
    color: white;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

.container-search-list {
    height: 70vh;
    background-color: #FFFFFF;
    border-radius: 10px;
}

.container-search-list-scroll {
    padding: 10px;
    height: 69vh;
    overflow-y: auto;
}

.container-search-list-scroll-background {
    background-color: #F97E7E;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.container-search-list-scroll-background-flex {
    display: flex;
    justify-content: space-between;
}

.container-search-list-scroll-background-flex-title {
    color: black;
    width: 65vw;
    font-weight: bold;
    background-color: #FFFFFF;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 10px;
}

.container-search-list-scroll-background-flex-content {
    color: black;
    width: 65vw;
    background-color: #FFFFFF;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
}

.container-search-list-scroll-background-flex-upvote {
    color: black;
    width: 5vw;
    font-weight: bold;
    background-color: #FFFFFF;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}