.box-container{
    padding: 20px;
    justify-content: space-between;
    background-color: green;
    align-items: center;
    display: flex;
}
.content{
    word-wrap: break-word;
}
.sub-box-container1{
    width: 90%;
    background-color: white;
}

.sub-box-container2{
    width: 10%;
    background-color: blue;
    text-align: center;
    align-items: center;
}

form{
}
