<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" th:href="@{/css/addthread.css}">
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.1.3/dist/css/bootstrap.css}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Add Thread</title>
</head>
<body>
<div th:replace="fragments/nav :: navbar"></div>
<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
<div id="mySidebar" class="sidebar">
    <a href="/dashboard"><i class="fa fa-home"></i>Dashboard</a>
    <a th:if="${session.USER_LOGIN_NAME}" href="/mythread"><i class='fas fa-briefcase'></i>My threads</a>
    <div th:if="${session.USER_LOGIN_NAME}">
        <span class="sidebar-parent"><i class="fas fa-user-alt"></i>Account</span>
        <a th:if="${session.USER_LOGIN_NAME}" class="sidebar-child" href="/user/logout"><i class='fas fa-door-open'></i>Logout</a>
    </div>
    <div th:unless="${session.USER_LOGIN_NAME}">
        <span class="sidebar-parent"><i class="fas fa-user-alt"></i>Account</span>
        <a class="sidebar-child" href="/user/register"><i class='fas fa-user-plus'></i>Register</a>
        <a class="sidebar-child" href="/user/login"><i class='fas fa-door-closed'></i>Login</a>
    </div>
    <a th:if="${session.USER_LOGIN_ROLE == 'admin'}" href="/reports"><i class='fas fa-ban'></i>Reports</a>
</div>
<div class="add-thread">
    <h3 class="title">Create Thread</h3>
    <p class="content">Membuat sebuah thread seperti pertanyaan atau informasi yang ingin disampaikan
        kepada nasabah lainnya.</p>

    <div class="form-add-thread">
        <form method="post" th:action="@{/thread/add}">
            <div class="form-group" style="width: 400px">
                <label for="title">Title</label>
                <input name="title" type="text" class="form-control" id="title" placeholder="input title...">
            </div>
            <div class="form-group" style="width: 400px">
                <label for="content">Content</label>
                <textarea name="content" placeholder="input content..." class="form-control" id="content" rows="10"></textarea>
            </div>
            <input type="submit" class="btn button-form" />
        </form>
    </div>
</div>

<script th:src="@{/webjars/bootstrap/5.1.3/dist/js/bootstrap.bundle.js}"></script>
</body>
</html>
<style>
    .button-form{
        color: #B69797;
        font-weight: bold;
        background-color: #D8C4C4;
        border-radius: 5px;
        border-color: #D8C4C4;
        width: 70px;
    }
    a:hover {
        text-decoration: none;
    }
</style>