<div th:fragment = "navbar_guest">
    <nav class="navbar navbar-expand-lg" style="background-color: #FF5045;">
        <!--        <div class="container-fluid">-->
        <div class="container">
            <div>
                <a class="navbar-brand ml-10 text-white" href="#">SIMAFORUM</a>
            </div>
            <form style="width:500px; margin-top: 20px;">
                <div class="mb-3">
                    <input style="background-color: #FFFFFF; border-radius: 20px;"  type="text" class="form-control" id="search" placeholder="Search...">
                </div>
            </form>
            <div class="text-white">
                AKUN
            </div>
            <div class="text-white">
                Log Out
            </div>
        </div>
    </nav>
</div>

<div th:fragment = "navbar_admin">
    <!--- Implement nav_Admin --->
</div>