<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" th:href="@{/css/thread.css}">
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.1.3/dist/css/bootstrap.css}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Thread Detail</title>
</head>
<body>
<div style="text-decoration: none;" th:replace="fragments/nav :: navbar"></div>
<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
<div id="mySidebar" class="sidebar">
    <a href="/dashboard"><i class="fa fa-home"></i>Dashboard</a>
    <a th:if="${session.USER_LOGIN_NAME}" href="/mythread"><i class='fas fa-briefcase'></i>My threads</a>
    <div th:if="${session.USER_LOGIN_NAME}">
        <span class="sidebar-parent"><i class="fas fa-user-alt"></i>Account</span>
        <a th:if="${session.USER_LOGIN_NAME}" class="sidebar-child" href="/user/logout"><i class='fas fa-door-open'></i>Logout</a>
    </div>
    <div th:unless="${session.USER_LOGIN_NAME}">
        <span class="sidebar-parent"><i class="fas fa-user-alt"></i>Account</span>
        <a class="sidebar-child" href="/user/register"><i class='fas fa-user-plus'></i>Register</a>
        <a class="sidebar-child" href="/user/login"><i class='fas fa-door-closed'></i>Login</a>
    </div>
    <a href="/reports"><i class='fas fa-ban'></i>Reports</a>
</div>
<div class="thread">
    <div class="thread-area">
        <h3 class="thread-title" th:text="${threadDetail.title}"></h3>
        <p class="thread-content" th:text="${threadDetail.content}"></p>
        <div class="thread-action" style="justify-content: space-between">
            <div style="display: flex;">
                <form th:if="${session.USER_LOGIN_NAME}" method="post"
                      th:action="@{'/thread/{id}/{isUpVote}' (isUpVote=true, id=${threadDetail.id})}">
                    <button class="clear-decoration">
                        <a>
                            <i th:if="${upVotes == 1}" class='fas fa-sort-up up-vote' style="color: #64A644;"></i>
                            <i th:unless="${upVotes == 1}" class='fas fa-sort-up up-vote'></i>
                        </a>
                    </button>
                </form>
                <p class="count-vote"><i class="fas fa-vote-yea" style="margin-right: 0;"></i> <span class="count-vote"
                                                                                                     th:text="${threadDetail.voteScore}"></span>
                </p>
                <form th:if="${session.USER_LOGIN_NAME}" method="post"
                      th:action="@{'/thread/{threadId}/{isUpVote}' (isUpVote=false, threadId=${threadDetail.id})}">
                    <button class="clear-decoration" style="margin-top: -28px;">
                        <a>
                            <i th:if="${upVotes == 0}" class='fas fa-sort-down down-vote' style="color: red;"></i>
                            <i th:unless="${upVotes == 0}" class='fas fa-sort-down down-vote'></i>
                        </a>
                    </button>
                </form>
            </div>
            <button th:if="${userId != null}" type="button" style="color: #FF6363" class="clear-decoration"
                    data-toggle="modal"
                    data-target="#exampleModal">
                report
            </button>
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Report</h5>
                        </div>
                        <div class="modal-body">
                            <form method="post"
                                  th:action="@{'/thread/report/{threadId}/{userId}' (threadId=${threadDetail.id}, userId=${userId})}">
                                <div class="form-group">
                                    <label>Alasan</label>
                                    <input required name="alasan" type="tel" class="form-control" id="alasan"
                                           placeholder="Alasan">
                                </div>
                                <!--                                    <div class="modal-footer">-->
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary">Submit</button>
                                <!--                                    </div>-->
                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <hr>
    </div>
    <div class="reply-area">
        <h3 class="thread-title">REPLIES</h3>
        <form th:if="${session.USER_LOGIN_NAME}" th:action="@{'/reply/thread/{id}' (id=${threadDetail.id})}"
              method="post">
            <div class="form-group">
                <input name="content" style="background-color: #FFFFFF; border-radius: 5px;"
                       type="text" class="form-control" id="reply" placeholder="membalas thread...">
            </div>
            <input type="submit" class="btn button-form-thread"/>
        </form>

        <div class="replies" th:if="${replies} != null" th:each="reply: ${replies}">
            <div class="replies-reply-thread">
                <div th:if="${pinsReply.get(reply.id) == true} ">
                    <div style="display: flex;">
                        <i class='icon-margin fas fa-thumbtack'
                           style="font-size: 16px; color: red;"></i>
                        <p th:text="${reply.content}"></p>
                    </div>
                    <div class="reply-action">
                        <form th:if="${session.USER_LOGIN_NAME}" method="post"
                              th:action="@{'/thread/{id}/{replyId}/{isUpVote}' (isUpVote=true, id=${threadDetail.id},replyId=${reply.id})}">
                            <button class="clear-decoration">
                                <a>
                                    <i th:if="${votesReply.get(reply.id) == true}" style="color: #64A644;"
                                       class='fas fa-sort-up up-vote'></i>
                                    <i th:unless="${votesReply.get(reply.id) == true}"
                                       class='fas fa-sort-up up-vote'></i>
                                </a>
                            </button>
                        </form>
                        <p class="count-vote"><i class="fas fa-vote-yea" style="margin-right: 0;"></i> <span
                                class="count-vote" th:text="${reply.voteScore}"></span></p>
                        <form th:if="${session.USER_LOGIN_NAME}" method="post"
                              th:action="@{'/thread/{id}/{replyId}/{isUpVote}' (isUpVote=false, id=${threadDetail.id},replyId=${reply.id})}">
                            <button class="clear-decoration" style="margin-top: -28px;">
                                <a>
                                    <i th:if="${votesReply.get(reply.id) == false}" style="color: red;"
                                       class='fas fa-sort-down down-vote'></i>
                                    <i th:unless="${votesReply.get(reply.id) == false}"
                                       class='fas fa-sort-down down-vote'></i>
                                </a>
                            </button>
                        </form>
                        <button th:if="${session.USER_LOGIN_NAME}" th:onclick="|hide('r_form_'+${reply.id})|"
                                class="clear-decoration button-area">
                            <a class="button-reply">balas</a>
                        </button>
                        <form method="post"
                              th:action="@{'/pin/reply/{threadId}/{replyId}'(threadId=${threadDetail.id},replyId=${reply.id})}">
                            <div th:if="${session.USER_LOGIN_ID == threadDetail.user.getId()}">
                                <button class="clear-decoration button-area">
                                    <a style="font-size: 16px;" th:if="${pinsReply.get(reply.id) == true} "
                                       class="button-reply">unpin</a>
                                    <a style="font-size: 16px;" th:unless="${pinsReply.get(reply.id) == true} "
                                       class="button-reply">pin</a>
                                </button>
                            </div>
                        </form>
                        <button style="font-size: 16px;margin-left: 12px; margin-top: -14px;color: #FF6363;"
                                type="button" class="clear-decoration"
                                data-toggle="modal"
                                th:data-target="'#replyReportPin'+${reply.id}">
                            <a>
                                report
                            </a>
                        </button>
                    </div>
                    <div class="modal fade" th:id="'replyReportPin'+${reply.id}" tabindex="-1" role="dialog"
                         aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Report</h5>
                                </div>
                                <div class="modal-body">
                                    <form method="post"
                                          th:action="@{'/thread/reply/report/{replyId}/{userId}' (replyId=${reply.id}, userId=${userId})}">
                                        <div class="form-group">
                                            <label>Alasan</label>
                                            <input name="alasanReply" type="tel" class="form-control" id="alasanReply"
                                                   placeholder="Alasan">
                                        </div>
                                        <button type="submit" class="btn btn-primary">Submit</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <form th:if="${session.USER_LOGIN_NAME}" method="post" th:id="'r_form_'+${reply.id}"
                          th:action="@{'/reply/reply/{id}' (id=${reply.id})}"
                          style="width: 955px; float: right; display: none;">
                        <div class="form-group">
                            <input name="content" th:id="${reply.id}"
                                   style="background-color: #FFFFFF; border-radius: 5px;"
                                   type="text" class="form-control"
                                   placeholder="membalas reply...">
                            <input type="submit" class="btn button-form-thread" style="margin-top: 20px;"/>
                        </div>
                    </form>
                    <div class="replies-reply-child" th:each="childreply : ${reply.replies}">
                        <p class="replies-reply-child-title" th:text="${childreply.content}"></p>
                        <div class="reply-action">
                            <form th:if="${session.USER_LOGIN_NAME}" method="post"
                                  th:action="@{'/thread/{id}/{replyId}/{isUpVote}' (isUpVote=true, id=${threadDetail.id},replyId=${childreply.id})}">
                                <button class="clear-decoration">
                                    <a>
                                        <i th:if="${votesReply.get(childreply.id) == true}" style="color: #64A644;"
                                           class='fas fa-sort-up up-vote'></i>
                                        <i th:unless="${votesReply.get(childreply.id) == true}"
                                           class='fas fa-sort-up up-vote'></i>
                                    </a>
                                </button>
                            </form>
                            <p class="count-vote"><i class="fas fa-vote-yea" style="margin-right: 0;"></i> <span
                                    class="count-vote" th:text="${childreply.voteScore}"></span></p>
                            <form th:if="${session.USER_LOGIN_NAME}" method="post"
                                  th:action="@{'/thread/{id}/{replyId}/{isUpVote}' (isUpVote=false, id=${threadDetail.id},replyId=${childreply.id})}">
                                <button class="clear-decoration" style="margin-top: -28px;">
                                    <a>
                                        <i th:if="${votesReply.get(childreply.id) == false}" style="color: red;"
                                           class='fas fa-sort-down down-vote'></i>
                                        <i th:unless="${votesReply.get(childreply.id) == false}"
                                           class='fas fa-sort-down down-vote'></i>
                                    </a>
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="replies" th:if="${replies} != null" th:each="reply: ${replies}">
            <div class="replies-reply-thread">
                <div th:if="${pinsReply.get(reply.id) != true} ">
                    <p th:text="${reply.content}"></p>
                    <div class="reply-action">
                        <form th:if="${session.USER_LOGIN_NAME}" method="post"
                              th:action="@{'/thread/{id}/{replyId}/{isUpVote}' (isUpVote=true, id=${threadDetail.id},replyId=${reply.id})}">
                            <button class="clear-decoration">
                                <a>
                                    <i th:if="${votesReply.get(reply.id) == true}" style="color: #64A644;"
                                       class='fas fa-sort-up up-vote'></i>
                                    <i th:unless="${votesReply.get(reply.id) == true}"
                                       class='fas fa-sort-up up-vote'></i>
                                </a>
                            </button>
                        </form>
                        <p class="count-vote"><i class="fas fa-vote-yea" style="margin-right: 0;"></i> <span
                                class="count-vote" th:text="${reply.voteScore}"></span></p>
                        <form th:if="${session.USER_LOGIN_NAME}" method="post"
                              th:action="@{'/thread/{id}/{replyId}/{isUpVote}' (isUpVote=false, id=${threadDetail.id},replyId=${reply.id})}">
                            <button class="clear-decoration" style="margin-top: -28px;">
                                <a>
                                    <i th:if="${votesReply.get(reply.id) == false}" style="color: red;"
                                       class='fas fa-sort-down down-vote'></i>
                                    <i th:unless="${votesReply.get(reply.id) == false}"
                                       class='fas fa-sort-down down-vote'></i>
                                </a>
                            </button>
                        </form>
                        <button th:if="${session.USER_LOGIN_NAME}" th:onclick="|hide('r_form_'+${reply.id})|"
                                class="clear-decoration button-area">
                            <a class="button-reply">balas</a>
                        </button>
                        <form method="post"
                              th:action="@{'/pin/reply/{threadId}/{replyId}'(threadId=${threadDetail.id},replyId=${reply.id})}">
                            <div th:if="${session.USER_LOGIN_ID == threadDetail.user.getId()}">
                                <button class="clear-decoration button-area">
                                    <a style="font-size: 16px;" th:if="${pinsReply.get(reply.id) == true} "
                                       class="button-reply">unpin</a>
                                    <a style="font-size: 16px;" th:unless="${pinsReply.get(reply.id) == true} "
                                       class="button-reply">pin</a>
                                </button>
                            </div>
                        </form>
                        <button style="font-size: 16px;margin-left: 12px; margin-top: -14px;color: #FF6363;"
                                type="button" class="clear-decoration"
                                data-toggle="modal"
                                th:data-target="'#replyReport'+${reply.id}">
                            <a>
                                report
                            </a>
                        </button>

                    </div>
                    <div class="modal fade" th:id="'replyReport'+${reply.id}" tabindex="-1" role="dialog"
                         aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Report</h5>
                                </div>
                                <div class="modal-body">
                                    <form method="post"
                                          th:action="@{'/thread/reply/report/{replyId}/{userId}' (replyId=${reply.id}, userId=${userId})}">
                                        <div class="form-group">
                                            <label>Alasan</label>
                                            <input name="alasanReply" type="tel" class="form-control" id="alasanReply"
                                                   placeholder="Alasan">
                                        </div>
                                        <button type="submit" class="btn btn-primary">Submit</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <form th:if="${session.USER_LOGIN_NAME}" method="post" th:id="'r_form_'+${reply.id}"
                          th:action="@{'/reply/reply/{id}' (id=${reply.id})}"
                          style="width: 955px; float: right; display: none;">
                        <div class="form-group">
                            <input name="content" th:id="${reply.id}"
                                   style="background-color: #FFFFFF; border-radius: 5px;"
                                   type="text" class="form-control"
                                   placeholder="membalas reply...">
                            <input type="submit" class="btn button-form-thread" style="margin-top: 20px;"/>
                        </div>
                    </form>
                    <div class="replies-reply-child" th:each="childreply : ${reply.replies}">
                        <p class="replies-reply-child-title" th:text="${childreply.content}"></p>
                        <div class="reply-action">
                            <form th:if="${session.USER_LOGIN_NAME}" method="post"
                                  th:action="@{'/thread/{id}/{replyId}/{isUpVote}' (isUpVote=true, id=${threadDetail.id},replyId=${childreply.id})}">
                                <button class="clear-decoration">
                                    <a>
                                        <i th:if="${votesReply.get(childreply.id) == true}" style="color: #64A644;"
                                           class='fas fa-sort-up up-vote'></i>
                                        <i th:unless="${votesReply.get(childreply.id) == true}"
                                           class='fas fa-sort-up up-vote'></i>
                                    </a>
                                </button>
                            </form>
                            <p class="count-vote"><i class="fas fa-vote-yea" style="margin-right: 0;"></i> <span
                                    class="count-vote" th:text="${childreply.voteScore}"></span></p>
                            <form th:if="${session.USER_LOGIN_NAME}" method="post"
                                  th:action="@{'/thread/{id}/{replyId}/{isUpVote}' (isUpVote=false, id=${threadDetail.id},replyId=${childreply.id})}">
                                <button class="clear-decoration" style="margin-top: -28px;">
                                    <a>
                                        <i th:if="${votesReply.get(childreply.id) == false}" style="color: red;"
                                           class='fas fa-sort-down down-vote'></i>
                                        <i th:unless="${votesReply.get(childreply.id) == false}"
                                           class='fas fa-sort-down down-vote'></i>
                                    </a>
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script th:src="@{/webjars/bootstrap/5.1.3/dist/js/bootstrap.bundle.js}"></script>
<script>
    function hide(id) {
        var x = document.getElementById(id);
        if (x.style.display === "none") {
            x.style.display = "";
        } else {
            x.style.display = "none";
        }
    }

</script>
</body>
</html>
<style>
    .button-form-thread {
        float: right;
        color: #B69797;
        font-weight: bold;
        background-color: #D8C4C4;
        border-radius: 5px;
        border-color: #D8C4C4;
        width: 70px;
    }

    body {
        margin-right: 30px;
    }

    a:hover {
        text-decoration: none;
    }

</style>